body {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;  
  color: #333333;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;  
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: relative;
}

.header-logo {
  position: absolute;
  top: 0px;
  left: 531px;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;    
}

.site-navigation {
  display: flex;
  width: 1056px;  
  margin: 0 72px;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;  
}

.site-navigation li {
  width: 240px;
  padding: 15px 0;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: auto;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
  text-align: left;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
  text-align: right;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation .site-navigation-current,
.site-navigation .site-navigation-current:hover,
.site-navigation .site-navigation-current:focus,
.site-navigation .site-navigation-current:active {
  color: #766357;
}

.info-sedona {
  text-align: center;
}

.promo-container {
  width: 570px;
  margin: 50px auto 0 auto;
}

.promo-title {
  margin: 0 0 30px 0; 
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000; 
 }

.promo-container p {
  margin: 0 0 55px 0;
}

.main-reasons {  
  display: flex;
  justify-content: space-between;
  background-color: #81b3d2;
}
.main-reasons span /* доработать  отступ*/

.reason-item {
  padding: 0 45px;
  text-align: center;
  color: #ffffff;
}

.main-reasons:nth-child(2) .reason-item {
  padding: 0 60px;
}

.features-text-title {
  width: 200px;
  margin: 45px auto 2px auto;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.reason-image {
  line-height: 0;
}

.features-text p {
  margin: 23px auto;
}

.our-services-list {
  display: flex;
  margin: 0;
  padding: 0;  
  list-style: none;
  text-align: center;
}

.our-services-item {
  width: 400px;
}

.our-services-title {
  margin: 0;
  padding-top: 160px;
  padding-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.our-services-item:first-child {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 162px 60px;
}

.our-services-item:nth-child(2) {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 159px 61px;
}

.our-services-item:last-child {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 168px 56px;
}

.our-services-item p {
  padding: 0 50px 0 50px;
  margin: 0 0 82px 0;
}

.advantages {
  padding-bottom: 40px;
  margin-bottom: 47px;  
  text-align: center;  
  background-color: #eeeeee;
}

.advantages-list {
  display: flex;  
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 400px;
}

.advantages h3 {
  width: 120px;
  margin: 48px auto 25px auto;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.advantages p {
  margin: 20px auto;
  width: 270px;
}

.hotel-search {
  position: relative;
  text-align: center;
}

.hotel-search p {
  margin: 25px 0 0 0;
  font-size: 14px;
  line-height: 24px;
}

.hotel-search b {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.button {  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;  
  text-align: center;
  vertical-align: middle;
  color: #ffffff;  
  border: none;
}

.hotel-search-button {
  box-sizing: border-box;
  width: 568px;
  height: 86px;
  margin-top: 47px;
}

.hotel-search-button,
.reservation-button {
  background-color: #766357; 
 }

.hotel-search-button:hover,
.hotel-search-button:focus,
.reservation-button:hover,
.reservation-button:focus {
  background-color: #604e43;
}

.hotel-search-button:active,
.reservation-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-form {
  position: absolute;
  bottom: -396px;
  left: 316px;
  min-height: 396px;
  width: 568px;
  box-sizing: border-box;
  padding: 55px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.form-hotel-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.form-hotel-search-item {
  position: relative;
  display: flex;
  margin-bottom: 29px;
  justify-content: space-between;
  width: 458px;
}

.half-line {
  width: 226px;
  margin-bottom: 54px;
}

.half-line:last-of-type label {
  padding-left: 52px;
}

.form-hotel-search label {
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 38px;
  padding: 6px 0;
  text-align: left;
}

.icon-button {
  width: 40px;
  height: 38px;
  padding: 0;
  margin: 0;  
  background-color: #f2f2f2;
  border: none; 
}

.calendar {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  fill: #cacaca;
}

.calendar:hover,
.calendar:focus {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2;
}

.minus {
  position: absolute;
  top: 0;
  right: 74px;
}

.minus:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 14px;
  width: 12px;
  height: 3px;
  background-image: url("../img/plus-minus.png");
  background-repeat: no-repeat;
  background-position: 0 -4px;
}

.plus {
  position: absolute;
  top: 0;
  right: 0;
}

.plus:after {
  content: "";
  position: absolute;
  top: 14px;
  right: 14px;
  width: 11px;
  height: 11px;
  background-image: url("../img/plus-minus.png");
  background-repeat: no-repeat;
  background-position: -19px 0;
}

.minus:hover:after,
.minus:focus:after  {
  background-position: -37px -4px;
}

.minus:active:after {
  background-position: -74px -4px;
}

.plus:hover:after,
.plus:focus:after  {
  background-position: -56px 0;
}

.plus:active:after {
  background-position: -93px 0;  
}

.input-date {
  display: block;
  box-sizing: border-box;
  width: 306px;
  height: 38px;
  padding-left: 10px;
  margin-right: 40px;  
}

.input-number {
  width: 34px;
  height: 38px;
  padding-left: 10px;
  margin: 0 40px;
  box-sizing: border-box;  
}

.form-hotel-search-button {
  width: 460px;
  height: 60px;
}

.form-hotel-search-button,
.more-button {
  background-color: #81b3d2; 
}

.form-hotel-search-button:hover,
.form-hotel-search-button:focus,
.more-button:hover,
.more-button:focus {
  background-color: #669ec0;
}

.form-hotel-search-button:active,
.more-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.form-hotel-search input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;  
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid  transparent;
}

.form-hotel-search input:hover {
  background-color: #ebebed;
}

.form-hotel-search input:focus {
  background-color: #ffffff;
  border: 2px solid  #e5e5e5;
  outline: none;
} 

.map {
  line-height: 0;
}

.map + .footer-container {
  position: relative;
  margin-top: -120px;
  z-index: 1;
}

.footer-container {
  display: flex;  
  min-height: 120px;
  width: 1200px;
  justify-content: space-between;  
  align-items: center;
  background-color: rgba(254, 254, 254, 0.9);
}

.footer-text {
  width: 150px;
  margin: 0 250px 0 125px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;  
  color: #000000;
}

.footer-social ul {
  display: flex;
  width: 150px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}

.social-button {
  display: flex;  
  width: 46px;
  height: 48px; 
  align-items: center; 
  justify-content: center;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
} 

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.copyright {
  display: flex;  
  width: 250px;
  margin: 0 100px 0 auto;
  align-items: center;
  justify-content: space-between;
}

.copyright-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.logohtmlacademy {
  display: flex;  
  width: 116px;
  height: 41px; 
  align-items: center; 
  justify-content: center;
}

.logohtmlacademy:hover path,
.logohtmlacademy:focus path {
  fill: #81b3d2;
}

.logohtmlacademy:active path{
  fill: #bdbbbc;
}

